// colors
$orange: #FFCA19;
$orangeHover: #dfb119;
$black: #1E1E2D;

// wrapperWidth
$wrapperWidth: 1240px;
$wrapperWidthBig: 1470px;

$screenPCBig: ($wrapperWidthBig * 100) /90;
$screenPC: ($wrapperWidth * 100) /90;
