.checkBlock{
  input{
    display: none;
    &:checked + label{
      .checkBlock__check{
        background: #fff;
      }
    }
  }
  &__check{
    display: block;
    width: 18px;
    height: 18px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 6px;
  }
  &__label{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
  }
  &__text{
    display: block;
    margin-left: 12px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    width: 90%;
    a{
      color: #FFFFFF;
      text-decoration: underline;
    }
  }
}