// TT Norms
@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms/TTNormsExtraBold/TTNorms-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms/TTNormsExtraBold/TTNorms-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms/TTNormsRegular/TTNorms-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

// DINNextW1Gы
@font-face {
  font-family: 'DINNextW1G';
  src: url('../fonts/DINNextW1G/DINNextW1G-Bold/DINNextW1G-Bold.woff') format('woff'),
       url('../fonts/DINNextW1G/DINNextW1G-Bold/DINNextW1G-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

// FuturaLight
@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura/FuturaLightC/FuturaLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//  TT Commons
@font-face {
  font-family: 'TT Commons';
  src: url('../fonts/TTCommons/TTCommonsBold/TTCommons-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}